@{
	ViewData["Title"] = "Termos de uso";
}

<h1>Termos de uso para Usuários-Loja</h1>

<p>Usuário, você está agora abrindo uma loja, o que te traz novas responsabilidades e garantias. A maioria destas já estão dispostas nas <a href="/Termos/Usuario">Regras do Jogo da Popup3D</a>, e todos os termos e condições firmados anteriormente se entendem a essas Regras Adicionais. Aqui trazemos um adendo contratual com informações que são somente úteis àqueles usuários que oferecem, através de nossa plataforma, seus serviços de impressão 3D.</p>
<p><strong>I - DO CADASTRO DA LOJA</strong></p>
<p>A Popup3D não faz diferenciação de pessoas jurídicas ou físicas na oferta de serviços, devendo as primeiras fornecerem no cadastro seu número de CNPJ e as segundas o seu número de CPF.</p>
<p>O cadastro da loja possui algumas informações obrigatórias, são estas: o CEP da loja, o nome a ser utilizado, tempo de impressão, o material de impressão, assim como seus serviços (resolução, cor e atualização de valores). Será facultado a loja a inserção da informação marca e modelo da impressora.</p>
<p><strong>II - PREÇO</strong></p>
<p>O preço final do serviço de impressão será dado pela fórmula:</p>
<p><strong>[preço de impressão] + [preço de envio]</strong>, onde</p>
<p><strong>[preço de impressão] = [preço do serviço da loja] + [taxa de serviço da Popup3D]</strong></p>
<p>O preço do serviço de impressão pela loja deve levar em consideração o valor por cm³, que será aplicado sobre o volume do arquivo .stl. Portanto, a Popup3D aconselha estipular um valor mínimo em reais, no qual incidirá o acréscimo por tamanho. Por outro lado, também incentivamos políticas de descontos por volume, aplicados em produtos grandes que consomem mais material e proporcionalmente menor esforço no setup de máquina, o que obviamente fica a cargo de determinação da loja.</p>
<p>A fim de auxiliar o cálculo do preço do serviço de impressão, a Popup3D preparou um simulador que pode ser acessado através desse link: <a href="">Popup3D.com/calculadora</a>.</p>
<p>A taxa de serviço cobrada pela Popup3D será de <strong>20%</strong> (vinte por cento) do preço do serviço da loja + <strong>R$ 1,00</strong> (um real) por pedido. Essa taxa será incluída ao valor cobrado ao usuário na compra de cada pedido e estará discriminado para a loja.</p>
<p>A Popup3D poderá acrescentar um fator multiplicador ao preço de impressão de determinada loja, impressora ou serviço de impressão, com o objetivo de equilibrar a demanda de pedidos do site. Este fator terá a mesma aplicação da taxa de serviço descrita acima e de nenhuma forma reduzirá o montante a receber por um determinado pedido.</p>
<p>O preço de envio é calculado por aplicação disponibilizada pelos Correios. Portanto, caso a estimativa do site divirja do preço de balcão nos Correios, a Popup3D não se responsabilizará por qualquer reembolso. Da mesma forma, os valores de frete abaixo da estimativa do site não precisarão ser estornados.</p>
<p>A Popup3D não obriga a prestação de contas a respeito da forma e/ou valor de envio, mas sugere que os usuários-loja mantenham a guarda dos comprovantes de frete até a finalização do pedido. Em casos de disputa essa documentação poderá ser exigida.</p>
<p><strong>III - PAGAMENTOS</strong></p>
<p>Os pagamentos à loja serão realizados pela Popup3D todas as quintas-feiras, computando todos os pedidos finalizados até o domingo imediatamente anterior, através das suas contas no PagSeguro. Para tanto, é necessário que o usuário-loja tenha um cadastro no PagSeguro e nos informe seu e-mail cadastrado.</p>
<p><strong>IV - CONTROLES E SANÇÕES</strong></p>
<p>A Popup3D poderá regular e controlar diversas variáveis da plataforma de modo a melhorar o serviço oferecido pelo site. A loja estará sujeita a sanção caso rejeite com grande frequência pedidos dos usuários, nesse caso esta será colocada "offline", ou "abandone" um pedido sem dar esclarecimentos, e a mesma deverá contatar a Popup3D para reativar sua conta. Isto porque a Popup3D precisa controlar que lojas realmente estão ativas e quais não estão para garantir a qualidade do serviço prestado.</p>