#view-3js {
  height: 370px !important;
  background-color: #15232f;
  background-image: url(../img/bg_cirles.png);
  background-repeat: no-repeat;
  background-position: calc(50% - 13px) 50%, center center; }
  #view-3js #info {
    right: 60px;
    left: initial;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    #view-3js #info .box {
      width: 100%;
      padding: 10px 15px;
      background: #1d4c66;
      border: solid 3px #61dbd3;
      border-radius: 3px;
      font-size: 13px;
      color: #cbcbcb; }
      #view-3js #info .box h4 {
        font-size: 16px;
        margin: 0;
        margin-bottom: 15px;
        color: white; }
      #view-3js #info .box h4:last-child {
        margin-bottom: 0; }

h3 {
  margin-top: 40px; }

#zip-loading,
#printer-template,
#step2 {
  display: none; }
  #zip-loading .order-by,
  #printer-template .order-by,
  #step2 .order-by {
    align-self: flex-end;
    flex-grow: 1;
    text-align: right; }
    #zip-loading .order-by select,
    #printer-template .order-by select,
    #step2 .order-by select {
      display: inline-block;
      width: 150px; }

#thead {
  margin-bottom: 12px;
  border: solid 1px #D5D5D5;
  border-radius: 4px;
  display: flex; }
  #thead div {
    flex-basis: 16.66666667%;
    padding: 3px 0;
    border-right: solid 1px #D5D5D5;
    text-align: center;
    color: #907c7f; }
    #thead div:last-child {
      border: none; }

.printer {
  height: 230px;
  margin-bottom: 20px;
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }
  .printer:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 4px;
    border: 1px solid #D5D5D5;
    pointer-events: none; }
  .printer > div {
    width: 16.66666667%;
    padding: 0 25px;
    flex-basis: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: solid 1px #D5D5D5;
    font-size: calc(.25vw + 19.2px); }
    .printer > div.material, .printer > div.resolucao {
      position: relative;
      z-index: 999;
      padding: 0 15px;
      flex-basis: 50%;
      align-items: baseline;
      border: none !important;
      background: #1d4c66 url(../img/grain.png);
      display: flex; }
      .printer > div.material div, .printer > div.resolucao div {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        color: white; }
        .printer > div.material div small, .printer > div.resolucao div small {
          display: block;
          color: #cbbde2;
          margin-top: -7px; }
    .printer > div.material > div {
      border-bottom: solid 1px #D5D5D5; }
    .printer > div:last-child {
      border: none !important; }
    .printer > div small {
      opacity: 0.6; }
    .printer > div small.frete {
      display: block;
      font-size: 15px;
      margin-top: -4px;
      text-align: center;
      height: 0; }
  .printer .loja-nome {
    font-weight: bold;
    font-size: 16px; }
  .printer .loja-local {
    font-size: 14px; }
  .printer .btn-imprimir {
    padding: 10px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    color: white; }

